.main {
  width:           100%;
  height:          calc(100vh - var(--top-bar-height));
  display:         flex;
  flex-direction:  row;
  justify-content: center;
  padding:         30px 0;
  overflow-y:      scroll;
}

.main-content {
  width:          100%;
  height: fit-content;
  max-width:      var(--max-main-width);
  display:        flex;
  flex-direction: column;
  padding:        20px;
  background:     rgb(var(--white));
  border-radius:  8px;
}

.buttons-container {
  width:           100%;
  padding:         0 20px;
  margin-bottom:   20px;
  display:         flex;
  flex-direction:  row;
  justify-content: space-between;
}

.btn {
  padding:             10px 20px;
  border-radius:       8px;
  border:              1px solid rgb(var(--gray));
  transition-duration: .3s;
}

.btn-move-date {
  background:   rgb(var(--yellow));
  border-color: rgb(var(--yellow));
}

.btn:hover {
  filter: brightness(.8);
}

.map-container {
  width:         100%;
  height:        var(--map-height);
}

.map {
  width:  100%;
  height: var(--map-height);
  border-radius: 8px;
  overflow:      hidden;
}

.box {
  width: 100%;
}

.btn-delete {
  background:   rgb(var(--red));
  border-color: rgb(var(--red));
}

.p {
  line-height: 110%;
  font-size:   16px;
  font-weight: 600;
  padding-left: 10px;
  color:       rgb(var(--black));
}

.light-p {
  color:       rgba(var(--black), .5);
  font-weight: 500;
  padding-left: 0;
  margin-bottom: 5px;
}

.move-date-container {
  display:             none;
  opacity:             0;
  position:            absolute;
  transition-duration: .3s;
  right:               0;
  top:                 0;
  height:              100vh;
  width:               100vw;
  background:          rgba(var(--black), .5);
  justify-content:     center;
  align-items:         center;
  align-content:       center;
}

.move-date-box {
  background:    rgb(var(--white));
  width:         100%;
  max-width:     700px;
  padding:       20px;
  border-radius: 8px;
  z-index:       1000;
  overflow:      hidden;
}

.order-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.date-card {
  transition-duration: .3s;
  padding:             15px 20px;
  border-radius:       10px;
  border:              2px solid rgb(var(--dark-gray));
  display:             flex;
  flex-direction:      row;
  justify-content:     center;
  align-items:         center;
  align-content:       center;
  font-size:           15px;
  font-weight:         700;
  text-wrap:           nowrap;
}

.rollbar-container {
  width:      100%;
  overflow-x: scroll;
}

.rollbar-content {
  display:         flex;
  flex-direction:  row;
  justify-content: space-between;
  gap:             20px;
}

.box-header {
  font-size:     25px;
  font-weight:   600;
  margin-bottom: 10px;
}

.times-container {
  margin-top:      30px;
  width:           100%;
  height:          fit-content;
  display:         flex;
  flex-direction:  row;
  justify-content: space-between;
  flex-wrap:       wrap;
  gap:             20px;
  margin-bottom:   20px;
}

.time-card {
  background:          rgb(var(--gray));
  border-radius:       8px;
  padding:             10px 15px;
  border:              2px solid rgb(var(--dark-gray));
  transition-duration: .3s;
}

.rating-container {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.rating-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
.rating-card svg {
  --scale: var(--star-scale);
  width: 100%;
  max-width: var(--star-scale);
  fill: transparent;
  stroke: rgb(var(--black));
  transition-duration: .3s;
  cursor: pointer;
}

.active-star {
  fill: rgb(var(--yellow)) !important;
  stroke: rgb(var(--yellow)) !important;
}

.chosen-time {
  background: rgb(var(--yellow)) !important;
}

.no-padding { padding: 0 !important; }

.available {
  background:   rgb(var(--white));
  border-color: rgb(var(--yellow));
}

.chosen-date {
  border-color: rgb(var(--black)) !important;
}

:host {
  --map-height:     600px;
  --max-main-width: 700px;
  --star-scale: 20px;
}
