<main class="main">
  <div class="content">

    <h1>Вход в Тинькофф</h1>

    <form class="buttons-container">
      <label class="label">
        <input [class.invalid]="!is_phone_valid()" (input)="set_phone()" placeholder="" class="input" type="tel" autocomplete="off" maxlength="18" required spellcheck="false" id="phone-input" name="phone" inputmode="tel" >
        <span class="span">Телефон</span>
      </label>
      <label class="label">
        <input (input)="set_password()" placeholder="" class="input" type="password" autocomplete="off" maxlength="18" required spellcheck="false" id="password-input" name="password" inputmode="password" >
        <span class="span">Пароль</span>
      </label>
      <button (click)="login()" type="button" class="send-button">Далее</button>
    </form>

  </div>
</main>
